@charset "utf-8";

@media screen and (min-width: 1400px) {
    .card {
        width: calc(25% - 42px);
    }
}

@media screen and (max-width: 1400px) {
    .card {
        width: calc(33% - 40px);
    }
}

@media screen and (max-width: 1000px) {
    .card {
        width: calc(50% - 42px);
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: calc(100% - 40px);
    }
}
.container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card{
    margin: 20px;
    background-color: rgb(215, 193, 255);
    border: solid 1px black;
    border-radius: 10px;
    /*
    box-shadow: 5px 8px 10px rgba(0, 0, 0, 0.7);
    */
}
.card-section{
    padding: 20px;
}
.card-header{
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.card-body{
    text-align: justify;
    border-top: dotted 1px rgba(0, 0, 0, 0.3);
    border-bottom: dotted 1px rgba(0, 0, 0, 0.3);
}
.card-footer{
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
.button{
    margin: 5px;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px rgba(0, 0, 0, 0.7);
    background-image: radial-gradient(rgb(210, 186, 255), rgb(172, 132, 248));
}
.button:hover{
    background-image: radial-gradient(rgb(191, 159, 252), rgb(160, 110, 253));
}